<template>
  <div id="client">
    <el-card class="client">
      <el-container>
        <el-aside width="350px">
          <v-avatar :editMode="editMode"/>
        </el-aside>
        <el-main>
          <div class="user">
            <div></div>
            <div>
              Client:
              <span class="strong-span">{{user.name + ' ' + user.lastname}}</span>
            </div>
            <div>
              <el-switch v-model="moreInfo" active-text="more"></el-switch>
            </div>
          </div>
          <div class="user-form" v-show="moreInfo">
            <div class="user-form-edit">
              <el-switch v-model="editMode" active-text="edit on"></el-switch>
            </div>
            <el-form :label-position="labelPosition" label-width="100px" :model="user">
              <el-form-item label="Address">
                <el-input
                  v-bind:readonly="!editMode"
                  v-on:input="addressChange(user.address)"
                  v-model="user.address"
                ></el-input>
              </el-form-item>
              <el-form-item label="Mobile phone">
                <el-input
                  v-bind:readonly="!editMode"
                  v-on:input="phoneChange(user.phone)"
                  v-model="user.phone"
                ></el-input>
              </el-form-item>
              <el-form-item label="Email">
                <el-input
                  v-bind:readonly="!editMode"
                  v-on:input="emailChange(user.email)"
                  v-model="user.email"
                ></el-input>
              </el-form-item>
              <el-form-item v-show="editMode" class="delete-btn">
                <!-- <el-button type="danger" round class="el-icon-delete"></el-button> -->
                <v-popup/>
              </el-form-item>
            </el-form>
          </div>
        </el-main>
      </el-container>
    </el-card>
  </div>
</template>


<script>
import VAvatar from "./ClientAvatar.vue";
import VPopup from "./DeleteClient.vue";

export default {
  name: "ClientComponent",
  components: {
    VAvatar,
    VPopup
  },
  data() {
    return {
      moreInfo: true,
      editMode: false,
      labelPosition: "right",
      user: {
        name: "Bill",
        lastname: "Doe",
        address: "str.Reugan Filler 16",
        phone: "+12043683425",
        email: "billdoe98@email.com"
      }
    };
  },
  methods: {
    addressChange: function(item) {
      this.user.address = item;
      localStorage.setItem("address", item);
    },
    emailChange: function(item) {
      this.user.email = item;
      localStorage.setItem("email", item);
    },
    phoneChange: function(item) {
      this.user.phone = item;
      localStorage.setItem("phone", item);
    }
  },
  computed: {},
  mounted() {
    if (localStorage.address)
      this.user.address = localStorage.getItem("address");
      if (localStorage.email)
      this.user.email = localStorage.getItem("email");
      if (localStorage.phone)
      this.user.phone = localStorage.getItem("phone");
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#client {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.client {
  width: 70%;
  margin: 30px;
}
.user {
  font-size: 24px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-form {
}
.user-form-edit {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.strong-span {
  font-weight: bold;
}
.el-form-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.el-input {
  width: 400px;
  font-size: 18px;
}

.delete-btn {
  margin-top: 80px;
}
.el-icon-delete {
  font-size: 20px;
}

.el-header,
.el-footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
</style>
