<template>
  <div id="avatar">
    <div class="avatar-img">
      <img v-if="imgDataUrl" :src="imgDataUrl">
      <img v-else src="../assets/unknown-512.png" class="default-avatar">
    </div>
    <my-upload
      field="img"
      @crop-success="cropSuccess"
      @crop-upload-success="cropUploadSuccess"
      @crop-upload-fail="cropUploadFail"
      v-model="show"
      :width="300"
      :height="300"
      url="https://httpbin.org/post"
      :params="params"
      :headers="headers"
      img-format="jpg"
      langType="en"
    ></my-upload>
    <div class="avatar-btn">
      <el-button v-if="editMode">
        <a class="btn el-icon-download" @click="toggleShow"> Set</a>
      </el-button>
      <el-button v-if="editMode" type="info" plain>
        <a class="el-icon-circle-close-outline" @click="removeAva"></a>
      </el-button>
    </div>
  </div>
</template>


<script>
import myUpload from "vue-image-crop-upload";

export default {
  name: "ClientAvatar",
  props: ["editMode"],
  data() {
    return {
      show: false,
      params: {
        token: "123456798",
        name: "avatar"
      },
      headers: {
        smail: "*_~"
      },
      imgDataUrl: "./assets/unknown-512.png" // the datebase64 url of created image
    };
  },
  components: {
    "my-upload": myUpload
  },
  mounted() {
    editMode
  },
  methods: {
    removeAva() {
      localStorage.removeItem('avatar')
      this.imgDataUrl = ""
    },
    toggleShow() {
      this.show = !this.show;
    },
    cropSuccess(imgDataUrl, field) {
      console.log("-------- crop success --------");
      this.imgDataUrl = imgDataUrl;
      localStorage.setItem("avatar", this.imgDataUrl);
    },
    cropUploadSuccess(jsonData, field) {
      console.log("-------- upload success --------");
      console.log(jsonData);
      console.log("field: " + field);
    },
    cropUploadFail(status, field) {
      console.log("-------- upload fail --------");
      console.log(status);
      console.log("field: " + field);
    }
  },
  mounted() {
    if (localStorage.imgDataUrl)
      this.imgDataUrl = localStorage.getItem("avatar");
  }
};
</script>


<style scoped>
.avatar-img {
  height: 200px;
  margin: 40px;
}
.default-avatar {
  width: 100%;
}
.el-button a {
  text-decoration: none;
  font-size: 16px;
}
.btn {
  padding: 0 20px;
}
</style>
