<template>
  <el-button @click="open2" type="danger" round class="el-icon-delete"></el-button>
</template>

<script>
export default {
  name: "DeleteClient",
  data() {
    return {
      newUser: false
    };
  },
  methods: {
    open2() {
      this.$confirm("Are you sure to delete user?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Delete completed"
          }, this.asd());
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    asd(){
      console.log('asdasd')
    }
  }
};
</script>