<template>
  <div class="single">
    <el-container>
      <el-header class="header-nav">
        <el-button round>
          <router-link :to="{ name: 'client', params: { id: 19 } }">Client</router-link>
        </el-button>
        <el-button round>
          <router-link :to="{ name: 'list' }">List item</router-link>
        </el-button>
      </el-header>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'HeaderNavigation',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header-nav {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px !important;
}
.el-button a {
  text-decoration: none;
  font-size: 18px;
}
</style>
