<template>
  <div class="table">
    <el-table
      :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
      ref="singleTable"
      @row-dblclick="handleCurrentChange"
    >
      <el-table-column label="ID" prop="id"></el-table-column>
      <el-table-column label="Name" prop="name"></el-table-column>
      <el-table-column label="Date" prop="date"></el-table-column>
      <el-table-column align="right">
        <template slot="header" slot-scope="scope">
          <el-input v-model="search" size="medium" placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button size="medium" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
          <el-button
            size="medium"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
          >Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [
        {
          id: 0,
          date: "2016-05-03",
          name: "Greece",
          poster: "logo.png",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        },
        {
          id: 1,
          date: "2016-05-02",
          name: "New York",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?"
        },
        {
          id: 2,
          date: "2016-05-04",
          name: "Milan",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        },
        {
          id: 3,
          date: "2016-05-01",
          name: "New Vegas",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "ercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        },
        {
          id: 4,
          date: "2016-05-03",
          name: "Seul",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: " No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone "
        },
        {
          id: 5,
          date: "2016-05-02",
          name: "Kiev",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        },
        {
          id: 6,
          date: "2016-05-04",
          name: "Egypt",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: "laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        },
        {
          id: 7,
          date: "2016-05-01",
          name: "China",
          poster: "../assets/grece.jpg",
          address: "No. 189, Grove St, Los Angeles",
          less: "Yet despite its popularity, there is still an undiscovered feel to parts of Greece with Mount Olympus, the Peloponnese coast and some of the more remote islands slipping, for now at least, under the radar of mass tourism.",
          details: " because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        }
      ],
      currentRow: null,
      search: "",
      editTrue: true
    };
  },
  methods: {
    handleCurrentChange(val) {
      this.currentRow = val;
      var addId = val.id;
      var nameId = val.name;
      var detailId = val.details;
      var posterId = val.poster;
      var lessId = val.less;
      this.$router.push({ path: '/single/:', query: { id: addId, name: nameId, detail: detailId, poster: posterId, less: lessId } })
    },

    handleEdit(index, row) {
      console.log(index, row);
    },
    handleDelete(index, row) {
      var id = row.id;
      var deleteId = this.tableData
        .map(item => {
          return item.id;
        })
        .indexOf(id);
      this.tableData.splice(deleteId, 1);
    }
  }
};
</script>


<style scoped>
.table {
  margin: 0 20px;
}
</style>