<template>
  <div class="parent-div">
    <el-button style="margin: 20px;" type="warning" plain @click="goBack()">
      <i class="el-icon-back"></i>
    </el-button>
    <div class="single-item">
      <el-card>
        <div class="header">
          <p></p>
          <h1>Go travel!</h1>
          <el-switch v-model="moreInfo" active-text="more"></el-switch>
        </div>
        <div class="wrapper">
          <div class="image-block">
            <!-- <img :src="avatar"> -->
            <img src="../assets/grece.jpg" class="image">
          </div>
          <div class="info-block">
            <div>
              <p>
                This item id
                <span style="font-weight: bold">{{ $route.query.id }}</span>
              </p>
            </div>
            <div>
              <p>
                Event name:
                <span style="font-weight: bold">{{$route.query.name}}</span>
              </p>
            </div>
            <div class="detailMore">
              <p>
                Info:
                <span>{{$route.query.less}}</span>
              </p>
            </div>
            <div class="detailMore">
              <p>
                Details:
                <span v-show="moreInfo">{{$route.query.detail}}</span>
              </p>
            </div>
            <div class="footer-btn">
              <div>
                <el-button type="primary" @click="open()" round>Buy ticket!</el-button>
              </div>
              <div>
                <el-button v-show="moreInfo" type="danger" @click="open2()" round>Delete event!</el-button>
              </div>
            </div>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "SingleItem",
  data() {
    return {
      moreInfo: false
    };
  },
  mounted() {
    console.log("data", this.$router.params);
  },
  methods: {
    goBack: function() {
      window.history.go(-1);
    },
    open() {
      this.$prompt("How much ticket you want?", "Buy ticket!", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        inputPattern: /^\d+$/,
        inputErrorMessage: "Invalid Email"
      })
        .then(({ value }) => {
          this.$message({
            type: "success",
            message: "You buy ticket: " + value
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Input canceled"
          });
        });
    },
    open2() {
      this.$confirm("You delete this event. Continue?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Delete completed"
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    }
  }
};
</script>


<style>
.parent-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.single-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.image-block {
  width: 30%;
  height: 100%;
}

.info-block {
  font-size: 18px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.el-card {
  width: 70%;
  min-height: 450px;
  padding: 40px;
  margin-top: 30px;
}
.image-block {
  width: 250px;
  height: 200px;
}

.detailMore {
  text-align: left;
}
.detailLess {
  text-align: left;
  visibility: hidden;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}
.footer-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
</style>

