<template>
  <div class="app">
    <v-nav/>
    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
import VNav from "@/components/HeaderNavigation.vue";
export default {
  name: "App",
  components: {
    VNav
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.header-nav {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px !important;
}
.el-button a {
  text-decoration: none;
}
</style>
